// src/styles/galaxy.module.scss

.galaxyTilt {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.star {
  display: block;
  border-radius: 50%;
  position: absolute;
  box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
}

.bgStars {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

:global {
  @keyframes rotate {
    from { transform: rotateZ(0deg); }
    to   { transform: rotateZ(360deg); }
  }
}
